@media screen and (max-width: 996px) {
  .hero {
    padding: 4rem;
  }
}

.hero {
  background: url(/img/wallpaper.png) center no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #f9461c;
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  min-height: 90vh;
}

.hero h1 {
  font-size: 50pt;
  color: black;
  font-weight: unset;
  color: #f9461c;
}
