.team {
    padding: 30px;
    text-align: center;
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(249,70,28,1) 100%) !important;
}

.people {
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
}

.person {
    padding: 10px;
    flex: 300px;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
    background: white;
}

.person img {
    border-radius: 100px;
    box-shadow: 0 0 10px #f9461c;
}

.person i {
    font-weight: bold;
    color: #f9461c;
}